<div class="queso_search">
  <h1>Find <%= model.name.pluralize.titleize %></h1>
  
  <h2>Criteria</h2>
  <% form_remote_tag :url => { :controller => 'queso_searches', :id => model.name, :action => 'add_term' }, :update => 'terms' do %>
    <%= render :partial => 'queso_searches/terms', :locals => { :model => model } %>
  <% end %>
</div>